<ion-content>
  <div class="profile">
    <div class="profile-header">
      <button (click)="presentActionSheet()"> <ion-icon name="log-out-outline"></ion-icon> </button><br><br>
      <img src="../../../assets/img/profilepic.png" alt="" srcset="">
      <h1>John Doe</h1>
      <h3>Employee id: X189</h3>
    </div>
    <div class="profile-body">
      <div class="option">
        <button (click)="showPersonal()"><div class="menu">
          <div class="left"><ion-icon name="person-outline"></ion-icon><span>Personal</span></div>
          <div class="right"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
        </div></button>
        <button><div class="menu">
          <div class="left"><ion-icon name="mail-outline"></ion-icon><span>Contact</span></div>
          <div class="right"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
        </div></button>
        <button><div class="menu">
          <div class="left"><ion-icon name="call-outline"></ion-icon><span>Emergency</span></div>
          <div class="right"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
        </div></button>
        <button><div class="menu">
          <div class="left"><ion-icon name="people-outline"></ion-icon><span>Family</span></div>
          <div class="right"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
        </div></button>
        <button><div class="menu" style="border: none;">
          <div class="left"> <ion-icon name="settings-outline"></ion-icon><span>Account Setting</span></div>
        <div class="right"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
      </div></button>
    </div>
      <div class="personal">
        Halooo
    </div>
  </div>
</div>
</ion-content>


